name: Auto Approve

on:
  pull_request_target:

jobs:
  auto-approve:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: github.actor == 'scala-steward' || github.actor == 'renovate[bot]'
    steps:
      - uses: hmarr/auto-approve-action@v3
