name: CI

on:
  pull_request:
  push:
    branches: [ 'main' ]

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache Scala dependencies
        uses: coursier/cache-action@v8
      - name: Check code formatting
        run: ./sbt check

  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        java: [ "8", "11", "17", "21" ]
        scala: [ "2.12.21", "2.13.18", "3.7.0" ]
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Set up Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache Scala dependencies
        uses: coursier/cache-action@v8
      - name: Run tests
        run: ./sbt ++${{ matrix.scala }} test

  publish-local:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.2
      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: temurin
          java-version: 17
          check-latest: true
      - name: Cache scala dependencies
        uses: coursier/cache-action@v8
      - name: Check that building packages works
        run: ./sbt +publishLocal

  ci:
    runs-on: ubuntu-24.04
    needs: [ lint, test, publish-local ]
    steps:
      - name: Aggregate outcomes
        run: echo "build succeeded"
